@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
div{
    background-color: brown;
    width: 75%;
    color: black;
    padding: 10px;
    background-image: url("./images/20516969.jpg");
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
    font-size: large;
    font-family: 'Pinyon Script', cursive;
}
h1{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}
body{
    background-image: url("./images/rtgOtlJ.jpg");
    background-size: cover;
}