h1{
  text-align: center;
  color: rgb(61, 156, 6);
}
.p{
  height: 380px;  
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.c{
    height: 400px;
    width: 18%;
    background-color: rgb(62, 202, 132);
    border: 3px solid rgb(185, 184, 184);
    border-radius: 30px;
    padding: 25px;
    text-align: center;
}
img{
  height: 150px;
  width: 100%;
  border-radius: 30px;
}
h2{
  margin-top: 2px;
  color: rgb(10, 10, 10);
}
button{
  height: 35px;
    align-items: center;
    width: 82px;
    border-radius: 23px;
    background-color: rgb(62, 202, 132);
    color:rgb(15, 15, 15)
}
button:hover{
  background-color: rgb(24, 171, 182);
  color: rgb(58, 33, 199);
}
.c-1:hover{
    height: 410px;
    width: 19%;
    background-color: rgb(33, 128, 128);
}
.c-2:hover{
  height: 410px;
  width: 19%;
  background-color: rgb(33, 128, 128);
}
.c-3:hover{
  height: 410px;
  width: 19%;
  background-color: rgb(33, 128, 128);
}
.c-4:hover{
  height: 410px;
  width: 19%;
  background-color: rgb(33, 128, 128);
}