h1{
    color: aqua;
}
#g2{
    color: blueviolet;
}
.c{
    color: orangered;
}
body{
    background-color: magenta;
}
div{
    background-color: brown;
    text-align: center;
}
#d{
    background-color:aquamarine;
    text-align: start;
}
